
img{
    max-width: 100%;
}


body {
    background-color: rgb(199, 230, 219);
}

#container 
{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header{
    margin-top: 0.2em;

    background-color: rgb(199, 230, 219);
    border-radius: 0.5em;
    
    text-align: center;
}

nav
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    
}
nav > ul{
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
nav  li{
    background-color: aqua;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}





main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 12px 12px 12px #404040;
}

